<section class="advantages">
    <h2 class="advantages__title">
        Преимущества
    </h2>
    <ul class="advantages__list wrap">
        <li class="advantages__item">
            <div class="advantages__img">
                <svg class="advantages__svg">
                    <use xlink:href="images/icons-sprite.svg#icon-leaf"></use>
                </svg>
            </div>
            <p class="advantages__subtitle">
                Clean Design
            </p>
            <p class="advantages__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
            </p>
        </li>
        <li class="advantages__item">
            <div class="advantages__img">
                <svg class="advantages__svg">
                    <use xlink:href="images/icons-sprite.svg#icon-badge"></use>
                </svg>
            </div>
            <p class="advantages__subtitle">
                Branding
            </p>
            <p class="advantages__text">
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.
            </p>
        </li>
        <li class="advantages__item">
            <div class="advantages__img">
                <svg class="advantages__svg">
                    <use xlink:href="images/icons-sprite.svg#icon-smartphone"></use>
                </svg>
            </div>
            <p class="advantages__subtitle">
                Responsive
            </p>
            <p class="advantages__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
            </p>
        </li>
        <li class="advantages__item">
            <div class="advantages__img">
                <svg class="advantages__svg">
                    <use xlink:href="images/icons-sprite.svg#icon-gear"></use>
                </svg>
            </div>
            <p class="advantages__subtitle">
                Development
            </p>
            <p class="advantages__text">
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.
            </p>
        </li>
    </ul>
</section>