<footer class="footer">
    <nav>
        <ul class=" footer__menu menu wrap">
            <li class="menu__element">
                <a class="menu__link" href="#">
                    Home
                </a>
            </li>
            <li class="menu__element">
                <a class="menu__link" href="#">
                    Features
                </a>
            </li>
            <li class="menu__element">
                <a class="menu__link" href="#">
                    Portfolio
                </a>
            </li>
            <li class="menu__element">
                <a class="menu__link" href="#">
                    SKIlls
                </a>
            </li>
            <li class="menu__element">
                <a class="menu__link" href="#">
                    Blog
                </a>
            </li>
            <li class="menu__element">
                <a class="menu__link" href="#">
                    Clients
                </a>
            </li>
            <li class="menu__element">
                <a class="menu__link" href="#">
                    Contacts
                </a>
            </li>
        </ul>
    </nav>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>