<section class="clients">
    <div class="clients__wrap wrap">
        <h2 class="clients__title">
            Our Happy Clients
        </h2>
        <p class="clients__text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet. Claritas est etiam processus dynamicus.
        </p>
        <div class="clients__carousel carousel owl-carousel owl-theme">
            <div class="item">
                <img src="images/staff/image-client1.png" alt="Клиент 1">
            </div>
            <div class="item">
                <img src="images/staff/image-client2.png" alt="Клиент 2">
            </div>
            <div class="item">
                <img src="images/staff/image-client3.png" alt="Клиент 3">
            </div>
            <div class="item">
                <img src="images/staff/image-client4.png" alt="Клиент 4">
            </div>
            <div class="item">
                <img src="images/staff/image-client5.png" alt="Клиент 5">
            </div>
            <div class="item">
                <img src="images/staff/image-client4.png" alt="Клиент 4">
            </div>
            <div class="item">
                <img src="images/staff/image-client5.png" alt="Клиент 5">
            </div>
        </div>
    </div>
</section>