<section class="contacts">
    <div class="contacts__wrap wrap">
        <h2 class="contacts__title">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__form form">
                <form action="#">
                    <div class="form__input">
                        <label for="form__name">Name</label>
                        <input id="form__name" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form__input">
                        <label for="form__phone ">Phone</label>
                        <input id="form__phone" type="tel" name="phone" placeholder="Phone">
                    </div>
                    <div class="form__input">
                        <label for="form__message">Message</label>
                        <textarea id="form-message" name="message" placeholder="Message"></textarea>
                    </div>
                    <button class="form__button">
                        Send
                    </button>
                </form>
            </li>
            <li class="contacts__map">
                <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abc9fced798ea74604ef2208a0cbd11246a2f3a1fecff00c72129ee1ab4ee93b5&amp;width=100%25&amp;height=440&amp;lang=ru_RU&amp;scroll=true"></script>
            </li>
        </ul>
    </div>
</section>