$inputBg: #202020;

.form {
	$self: &;

	label {
		@include visually-hidden;
	}

	&__input {
		input, textarea {
			display: block;
			width: 100%;  
			padding: 16px 10px 16px 30px;
			box-sizing: border-box;
			border-radius: 10px;
			background-color: $inputBg;
			border: none;
			box-shadow: none;
			resize: none;	
			font-size: 20px;
			font-family: 'Raleway';
			color: $white;
			line-height: 1.4;
			text-align: left;
			margin-bottom: 20px;

			&::placeholder {
				color: $white;
				opacity: 1;
			}
		}
		textarea {
			min-height: 200px;
		}

	}
	  

	&__button {
		border-radius: 10px;
		background-color: $second;
		width: 100%;
		border: none;
		box-shadow: none;
		appearance: none;
		cursor: pointer;
		font-size: 20px;
		font-family: 'Raleway';
		color: $white;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.4;
		text-align: center;
		padding: 16px;
		box-sizing: border-box;
		transition-property: background-color;
		transition-duration: 500ms;

		&:hover, &:active {
			background-color: darken($second, 15%);
		}
	}
	  
}
